main {
    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: fit-content;
    padding: 3vh 0vh 3vh 0vh;
    margin-left: 10%;
    background-color: green;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3vh;
    border:solid brown 1vh;
}
main h1 {
    color: var(--white);
    -webkit-text-stroke-width: 0.5px;  /* ääriviivan paksuus */
-webkit-text-stroke-color: black;
}
main div {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    padding: 0vh 0vh 1vh 0vh;
}
main div section {
    display: block;
    position: relative;
    background-color: var(--white);
    aspect-ratio: 2.5/3.5;
    width: 10%;
    border-radius: 1vh;
    min-width: 60px;
}
main game-card {
    position: fixed;
    min-width: 60px;
    cursor: grab;
}