main {
    
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-75%);
    width: 80%;
    height: fit-content;
    padding: 3vh 0vh 3vh 0vh;
    margin-left: 10%;
    background-color: var(--green);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3vh;
    border:solid var(--brown) 2vh;
    z-index: 0;
}
main h2 {
    color: var(--white);
}

main game-table section {
    display: block;
    position: relative;
    aspect-ratio: 2.5/3.5;
    width: 10%;
    border-radius: 1vh;
    min-width: 60px;
}
main game-table section img {
height: 100%;
border-radius: 1vh;
pointer-events: none;
object-fit: cover;
}

main game-card {
    min-width: 60px;
    cursor: grab;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}

#slot {
    min-width: 60px;
    cursor: grab;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: brown;
}
